<!--cuando creamos un archivo hbs, bajar el servidor y levantarno nuevamente-->
<!--nodemon nombreArchivo -s js,hbs,html,css para estar pendiente de cambios-->
{{> head }}
    <div class="row">
        <div class="col-4">
            <h1>Microsoft Students Ambassador</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt iusto quas ea dignissimos, perspiciatis saepe corrupti blanditiis cum quaerat eaque molestias doloribus, magni odit autem nihil ab modi aliquam error.</p>
        </div>
        <div class="col-8">
            <img src="assets/img/MSLearn.jpg" class="img-tumbnail">
        </div>
    </div>

{{> footer}}